<!DOCTYPE html>
<html>
    <head>
        <title>Your Balance</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <script src="https://code.jquery.com/jquery-latest.min.js"></script>
        <script type="text/javascript">
          var intervalInMs = 100;
          setInterval(function () {
            $.ajax({
              statusCode: {
                500: function () {
                  $("#balance").html("Unable to lookup your balance")
                  console.log("500 error: unable to get balance")
                }
              },
              url: "/balance?accountId=001", success: function (data) {
                result = JSON.parse(data);
                console.log("Got balance " + result.balance);
                $("#balance").html("You have " + result.balance + " in your account");
              }
            });
          }, intervalInMs);
        </script>
        <body>
          <h2>
            <div id="balance">
              Fetching balance...
            </div>
          </h2>
        </body>
</html>
